<header class="navbar">
  <section class="navbar-section">
    <a href="/auth/login" class="btn btn-link">Login</a>
    <a href="/auth/logout" class="btn btn-link">Logout</a>
  </section>
  <section class="navbar-section">
    <div class="input-group input-inline">
    </div>
  </section>
</header>