<div class="login-menu column col-6 col-sm-12 col-mx-auto">
    <div>
        <a href="/auth/facebook" class="fa fa-facebook"></a>
    </div>
    <div>
        <a href="/auth/google" class="fa fa-google"></a>
    </div>
    <div>
        <a href="/auth/twitter" class="fa fa-twitter"></a>
    </div>
    <div>
        <a href="/auth/github" class="fa fa-github"></a>
    </div>
</div>